USE [FutSalLog]
GO

CREATE TABLE [dbo].[Equipo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreLargo] [varchar](100) NOT NULL,
	[NombreCorto] [varchar](100) NOT NULL,
	[EscudoUrl] [varchar](100) NOT NULL,
	[FechaAfiliacion] [varchar](100) NOT NULL,
	[Borrado] [bit] NOT NULL
) ON [PRIMARY]
GO

/****** Object:  Default [DF_Equipo_Borrado]    Script Date: 10/19/2016 12:16:08 ******/
ALTER TABLE [dbo].[Equipo] ADD  CONSTRAINT [DF_Equipo_Borrado]  DEFAULT ((0)) FOR [Borrado]
GO

SET NOCOUNT ON

INSERT INTO Equipo (NombreLargo, NombreCorto, EscudoUrl, FechaAfiliacion, Borrado) VALUES('Arsenal Football Club', 'Arsenal', '/Escudo Equipos/Arsenal Football Club.png', '18/10/2016', 0)
INSERT INTO Equipo (NombreLargo, NombreCorto, EscudoUrl, FechaAfiliacion, Borrado) VALUES('Everton Football Club', 'Everton', '/Escudo Equipos/Everton Football Club.png', '18/10/2016', 0)
INSERT INTO Equipo (NombreLargo, NombreCorto, EscudoUrl, FechaAfiliacion, Borrado) VALUES('Manchester City Football Club', 'Manchester City', '/Escudo Equipos/Manchester City Football Club.png', '18/10/2016', 0)

SET NOCOUNT OFF

GO