USE [FutSalLog]
GO

CREATE TABLE [dbo].[Jugador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [bigint] NOT NULL,
	[Nombres] [varchar](100) NULL,
	[Apellidos] [varchar](100) NULL,
	[FechaNacimiento] [varchar](100) NULL,
	[Direccion] [varchar](200) NULL,
	[Telefono] [varchar](100) NULL,
	[TelefonoEmergencia] [varchar](100) NULL,
	[FotoUrl] [varchar](500) NULL,
	[IdPieHabil] [int] NOT NULL,
	[FechaAfiliacion] [varchar](100) NULL,
	[Borrado] [bit] NOT NULL,
UNIQUE NONCLUSTERED 
(
	[Dni] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Default [DF_Equipo_Borrado]    Script Date: 10/19/2016 12:16:08 ******/
ALTER TABLE [dbo].[Jugador] ADD  CONSTRAINT [DF_Jugador_Borrado]  DEFAULT ((0)) FOR [Borrado]
GO

SET NOCOUNT ON

INSERT INTO Jugador (Dni, Nombres, Apellidos, FechaNacimiento, Direccion, Telefono, TelefonoEmergencia, FotoUrl, IdPieHabil, FechaAfiliacion, Borrado) VALUES(36112114, 'Luis', 'Cadau', '15/11/1990', 'Pirovano 1126', '3794924905', '3794736796', 'asdasdasd.jpg', 3, '12/10/2016', 0)
INSERT INTO Jugador (Dni, Nombres, Apellidos, FechaNacimiento, Direccion, Telefono, TelefonoEmergencia, FotoUrl, IdPieHabil, FechaAfiliacion, Borrado) VALUES(30123456, 'Juan', 'Perez', '16/10/1991', 'Cabeza de Vaca 123', '3794321987', '3794465798', 'qweqwe.jpg', 2, '11/11/2014', 0)
INSERT INTO Jugador (Dni, Nombres, Apellidos, FechaNacimiento, Direccion, Telefono, TelefonoEmergencia, FotoUrl, IdPieHabil, FechaAfiliacion, Borrado) VALUES(30126926, 'Luis', 'Contreras', '9/12/1990', 'Santa Fe 1421', '3794124193', '3794345529', '/Fotos Jugadores/30126926.png', 2, '12/10/2016', 0)

SET NOCOUNT OFF
GO